.auth-card {
    background-color: #fff;
    padding: 1.5em 3em;
    -webkit-box-shadow: 0px 69px 96px -67px rgba(204, 204, 204, 0.56);
    -moz-box-shadow: 0px 69px 96px -67px rgba(204, 204, 204, 0.56);
    box-shadow: 0px 69px 96px -67px rgba(204, 204, 204, 0.56);
}