.rs-nav-item .rs-nav-item-content {
    font-size: 1.2em;
    font-weight: bold;
    color: black !important;
}

.navbar-nav {
    padding: 1em;
}

.search-bar .rs-nav-item-content {
    /* padding-bottom: 0.5em; */
    padding: 0.6em !important;
}

.navbar {
    margin-left: 4em;
    margin-right: 4em;
}